schema_files/soap/registration_soap11.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://www.herongyang.com/Service/"
xmlns:hy="http://www.herongyang.com/Service/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
>
<wsdl:documentation>Registration_WSDL_11_SOAP_11_Document.wsdl Copyright (c) herongyang.com. All rights reserved</wsdl:documentation>
<wsdl:types>
<xsd:schema targetNamespace="http://www.herongyang.com/Service/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
<xsd:element name="RegistrationRequest">
<xsd:complexType>
<xsd:complexContent mixed="true">
<xsd:restriction base="xsd:anyType">
<xsd:sequence>
<xsd:element name="Guest" type="xsd:string" maxOccurs="unbounded" />
</xsd:sequence>
<xsd:attribute name="date" type="xsd:date" />
<xsd:attribute name="event" type="xsd:string" />
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="RegistrationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Confirmation" maxOccurs="unbounded">
<xsd:complexType>
<xsd:complexContent>
<xsd:restriction base="xsd:anyType">
<xsd:attribute name="guest" type="xsd:string" />
<xsd:attribute name="event" type="xsd:string" />
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="registrationInputMessage">
<wsdl:part name="registrationInputPart" element="hy:RegistrationRequest" />
</wsdl:message>
<wsdl:message name="registrationOutputMessage">
<wsdl:part name="registrationOutputPart" element="hy:RegistrationResponse" />
</wsdl:message>
<wsdl:portType name="registrationPortType">
<wsdl:operation name="Registration">
<wsdl:input name="registrationInput" message="hy:registrationInputMessage" />
<wsdl:output name="registrationOutput" message="hy:registrationOutputMessage" />
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="registrationBinding" type="hy:registrationPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="Registration">
<soap:operation style="document" soapAction="http://www.herongyang.com/Service/Registration" />
<wsdl:input name="registrationInput">
<soap:body use="literal" />
</wsdl:input>
<wsdl:output name="registrationOutput">
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="registrationService">
<wsdl:port name="registrationPort" binding="hy:registrationBinding">
<soap:address location="http://www.herongyang.com/Service/Registration.php" />
</wsdl:port>
</wsdl:service>
</wsdl:definitions>